<div class="title">Meus Personagens</div>
<div class="conteudo">
  <table width="99%" cellpadding="5" cellspacing="0" class="tabela">
  <thead class="thead">
      <tr>
	    <td align="center">Slot</td>
        <td align="center">Nome</td>
        <td align="center">Classe</td>
        <td align="center">Nível de Base</td>
		<td align="center">Nível de Classe</td>
		<td align="center">Zeny</td>
        <td align="center">Último Mapa</td>
      </tr>
  </thead>
  {$i=0}
  {loop="dados"}
  <tr>
    <td align="center">{$dados.$i.char_num}</td>
    <td align="center">{$dados.$i.name}</td>
	<td align="center">{function="getjobname($dados.$i.class)"}</td>
	<td align="center">{$dados.$i.base_level}</td>
	<td align="center">{$dados.$i.job_level}</td>
	<td align="center">{function="number_format($dados.$i.zeny)"}</td>
    <td align="center">{$dados.$i.last_map}</td>
  </tr>
  {$i=$i+1}
  {/loop}
</table>
</div>