<div class="title">Bem-vindo <span>- Painel de Controle {$cp_title}</span></div>
<div class="conteudo">Usufrua deste painel completo, crie uma conta, logue-se e tenha informações mais detalhadas sobre o
servidor!<br><br>
Siga os passos para poder usufruir completamente do nosso servidor:

<div class="alert info"><b>1º</b> - Crie uma conta em nosso servidor</div>
<div class="alert info"><b>2º</b> - Baixe nosso servidor através de nosso site</div>
<div class="alert info"><b>3º</b> - Se precisar administrar sua conta, logue-se aqui no painel!</div>
</div>