<div class="title">Quem está online <span>- Lista de jogadores online no servidor</span></div>
<div class="conteudo">
Há <b>{$online_count}</b> jogadores online.
  {if="$online_count > 0"}
<table width="99%" cellpadding="5" cellspacing="0" class="tabela">
  <thead class="thead">
      <tr>
        <td align="center">Nome</td>
        <td align="center">Nível de Base</td>
        <td align="center">Nível de Classe</td>
        <td align="center">Classe</td>
		{if="$is_logged"}{if="$member.gm_level >= $allow_last_location"}<td align="center">Último local</td>{/if}{/if}
      </tr>
  </thead>
  {$i=0}
  {loop="dados"}
  {if="($is_logged && ($member.gm_level >= $dados.$i.$gm_table && $dados.$i.$gm_table > 10)) || ($dados.$i.$gm_table <= 10)"}
  <tr>
    <td align="center">{if="$is_logged && $dados.$i.$gm_table >= 1 && $dados.$i.$gm_table <= 10"}<span class="badge badge-orange">VIP</span>{/if} {$dados.$i.name}</td>
    <td align="center">{$dados.$i.base_level}</td>
    <td align="center">{$dados.$i.job_level}</td>
	<td align="center">{function="getjobname($dados.$i.class)"}</td>
   {if="$is_logged"}{if="$member.gm_level >= $allow_last_location"}<td align="center">{$dados.$i.last_map}</td>{/if}{/if}
  </tr>
  {/if}
  {$i=$i+1}
  {/loop}
  {/if}
</table>
</div>