<div class="title">Ranking de Clã <span>- Os clãs de níveis mais altos</span></div>
<div class="conteudo">
  <table width="99%" cellpadding="5" cellspacing="0" class="tabela">
  <thead class="thead">
      <tr>
        <td align="center">Posição</td>
        <td align="center">Nome</td>
        <td align="center">Nivel</td>
        <td align="center">Experiência</td>
      </tr>
  </thead>
  {$i=0}
  {$pos2=1}
  {loop="dados"}
  <tr>
    <td align="center">{$pos2}</td>
    <td align="center">{$dados.$i.name}</td>
    <td align="center">{$dados.$i.guild_lv}</td>
	<td align="center">{function="number_format($dados.$i.exp)"}</td>
  </tr>
  {$pos2=$pos2+1}
  {$i=$i+1}
  {/loop}
</table>
</div>