<div id="sidebar">
  	<ul>
    	<li class="title">Principal</li>
        <li><a href="?module=home">Página inicial</a></li>
        <li><a href="?module=online">Quem está online?</a></li>
        {if="!$is_logged"}
        <li><a href="?module=login">Efetuar login</a></li>
        <li><a href="?module=register">Criar nova conta</a></li>
		{/if}
    </ul>
    <ul>
    	<li class="title">Rankings</li>
        <li><a href="?module=ranking-level">Ranking de Level</a></li>
        <li><a href="?module=ranking-zeny">Ranking de Zeny</a></li>
        <li><a href="?module=ranking-clan">Ranking de Guild</a></li>
    </ul>
    {if="$is_logged"}
    <ul>
    	<li class="title">Minha conta</li>
        <li><a href="?module=statistic">Ver estatísticas</a></li>
        <li><a href="?module=dados">Editar dados</a></li>
		<li><a href="?module=logout">Logout</a></li>
    </ul>
    {/if}
</div>